{% extends 'base.html.twig' %}
{% block title %}Catalogue | BiblioHub{% endblock %}

{% block body %}
<div class="max-w-7xl mx-auto px-6 py-10">
    <div class="flex justify-between items-center mb-8 border-b border-gray-300 pb-4">
        <h1 class="text-3xl font-bold text-biblio-dark">Catalogue</h1>
        {# Bouton Ajout pour le Staff #}
        {% if is_granted('ROLE_BIBLIOTHECAIRE') %}
            <a href="{{ path('app_livre_new') }}" class="bg-biblio-dark text-white px-4 py-2 rounded shadow">+ Ajouter</a>
        {% endif %}
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {% for livre in livres %}
            <div class="bg-white rounded-xl shadow-lg hover:-translate-y-2 transition-all duration-300 overflow-hidden border border-gray-100 flex flex-col h-full group">
                
                <div class="relative h-64 bg-gray-100 overflow-hidden">
                    {% if livre.image %}
                        <img src="{{ asset('uploads/images/' ~ livre.image) }}" class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110">
                    {% else %}
                        <div class="w-full h-full flex items-center justify-center text-gray-400">Pas d'image</div>
                    {% endif %}
                    
                    <div class="absolute top-2 left-2 flex flex-col gap-1">
                        {% if livre.stock > 0 %}
                            <span class="bg-green-500 text-white px-2 py-1 rounded text-xs font-bold shadow">Stock: {{ livre.stock }}</span>
                        {% else %}
                            <span class="bg-red-500 text-white px-2 py-1 rounded text-xs font-bold shadow">Rupture</span>
                        {% endif %}
                    </div>
                    <span class="absolute bottom-2 right-2 bg-white text-biblio-dark px-2 py-1 rounded text-sm font-bold shadow">{{ livre.prix }} MAD</span>
                </div>

                <div class="p-6 flex flex-col flex-grow">
                    <h5 class="text-xl font-bold text-biblio-dark mb-1 line-clamp-1">{{ livre.titre }}</h5>
                    <p class="text-xs uppercase font-bold text-gray-400 mb-3">{{ livre.categorie }}</p>
                    <p class="text-gray-600 text-sm line-clamp-3 mb-6 flex-grow">{{ livre.description }}</p>

                    <a href="{{ path('app_livre_show', {'id': livre.id}) }}" class="w-full block text-center bg-biblio-light text-biblio-dark border border-biblio-dark/30 hover:bg-biblio-dark hover:text-white font-bold py-3 rounded-lg transition-colors">
                        Voir les options
                    </a>
                </div>
            </div>
        {% else %}
            <div class="col-span-full text-center py-10 text-gray-500">Aucun livre disponible.</div>
        {% endfor %}
    </div>
</div>
{% endblock %}